<div>
    <form id="theForm" action="PdfServlet" method="post">
        <h1>Kalkulator OpenPKW &mdash; Prototyp &mdash; Komisja Obwodowa</h1>
        <input type="hidden" id="liczba_wyborcow" name="liczba_wyborcow" value="">
        <input type="hidden" id="pdfMethod" name="pdfMethod" />
        <div style="background-color: #f0f0f0; margin-bottom: 5px; padding: 5px; border: 1px dashed #d0d0d0">
            <p class="info">Wersja 2015-05-13_01.</p>
            <div>
                <label for="wyborWojewodztwa" style="width: 150px; display: inline-block">Wybierz wyjewództwo</label>
                <select id="wyborWojewodztwa" style="width: 200px" ng-options="v.name for v in vm.geographyTaxonomy" ng-model="vm.voivodship" ng-change="vm.selectFirstDistrict()">
                </select>
                <label for="wyborPowiatu" style="width: 120px; display: inline-block">Wybierz powiat</label>
                <select id="wyborPowiatu" style="width: 300px" ng-options="d.name+' ('+d.type+')' for d in vm.voivodship.children" ng-model="vm.district" ng-change="vm.selectFirstCommunity()">
                </select>
            </div>
            <div>
                <label for="wyborGminy" style="width: 150px; display: inline-block">Wybierz gminę</label>
                <select id="wyborGminy" style="width: 200px" ng-options="c.name+' ('+c.type+')' for c in vm.district.children" ng-model="vm.community">
                </select>
                <label for="wyborOKW" style="width: 120px; display: inline-block">Wybierz obwód</label>
                <select id="wyborOKW" style="width: 300px" ng-options="'Obwód nr '+p.nrObwodu+': '+p.siedzibaKomisjiObwodowej for p in vm.komisjasData" ng-model="vm.komisja"></select>
            </div>
            <br/>
            <button type="button" ng-click="vm.loadMockFormData()">Wypełnij formularz przykładowymi danymi</button>
            <button type="button" onClick="validate()">Sprawdź formularz</button>
            <button type="button" onClick="send()">Wyślij formularz</button>
            <button type="button" ng-click="vm.printPdf()">Wydrukuj formularz</button>
        </div>

        <table class="with_borders">
            <tr>
                <td colspan="6">
                    <h2>Wybory Prezydenta Rzeczypospolitej Polskiej</h2>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right">Kod terytorialny gminy
                    <br/>(dzielnicy w m. st. Warszawie)</td>
                <td>
                    <input type="text" id="kodGminy" name="kodGminy" style="width:50px" ng-model="vm.formData.komisja.kodTerytorialnyGminy" readonly>
                </td>
                <td colspan="2" style="text-align:right">Nr obwodu głosowania</td>
                <td>
                    <input type="text" id="nrObwodu" name="nrObwodu" ng-value="vm.formData.komisja.numerObwoduGlosowania" readonly>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right">Siedziba Obwodowej Komisji Wyborczej (adres)</td>
                <td colspan="4">
                    <input type="text" id="adresOKW" name="adresOKW" style="width: 493px" ng-value="vm.formData.komisja.siedzibaObwodowejKomisjiWyborczej" readonly>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">Gmina/Dzielnica</td>
                <td>
                    <input type="text" id="gmina" name="gmina" style="width: 130px" ng-value="vm.formData.komisja.gminaDzielnica" readonly>
                </td>
                <td style="text-align: right">Powiat</td>
                <td>
                    <input type="text" id="powiat" name="powiat" style="width: 130px" ng-value="vm.formData.komisja.powiat" readonly>
                </td>
                <td style="text-align: right">Województwo</td>
                <td>
                    <input type="text" id="wojewodztwo" name="wojewodztwo" style="width: 180px" ng-value="vm.formData.komisja.wojewodztwo" readonly>
                </td>
            </tr>
        </table>

        <h2>Protokół wyników głosowania w obwodzie<br />
        w wyborach Prezydenta Rzeczypospolitej Polskiej<br />
		przeprowadzonego w dniu <input type="text" id="dataGlosowania" ng-value="vm.formData.akcjaWyborcza.dataGlosowania" style="width: 400px"></h2>
        <p>Głosowanie rozpoczęło się w dniu
            <input type="text" ng-value="vm.formData.akcjaWyborcza.dzienMiesiacGlosowania"> 20
            <input type="text" ng-value="vm.formData.akcjaWyborcza.rokGlosowania" style="width: 30px"> r. o godz.
            <input type="text" ng-value="vm.formData.akcjaWyborcza.godzinaGlosowaniaOd" style="width: 50px"> i trwało do godz.
            <input type="text" ng-value="vm.formData.akcjaWyborcza.godzinaGlosowaniaDo" style="width: 50px">.</p>

        <h3>I. Rozliczenie kart do głosowania</h3>
        <table class="with_borders">
            <tr>
                <td class="lp">1.</td>
                <td>Liczba wyborców uprawnionych do głosowania <i>(umieszczonych w spisie, z uwzględnieniem dodatkowych formularzy)</i> w chwili zakończenia głosowania</td>
                <td>
                    <input type="text" ng-model="vm.formData.rozliczenieKart.pole1" positive-int president-hard-error-p1>
                </td>
            </tr>
            <tr>
                <td class="lp">2.</td>
                <td>Komisja otrzymała kart do głosowania</td>
                <td>
                    <input type="text" ng-model="vm.formData.rozliczenieKart.pole2">
                </td>
            </tr>
            <tr>
                <td class="lp">3.</td>
                <td>Nie wykorzystano kart do głosowania</td>
                <td>
                    <input type="text" ng-model="vm.formData.rozliczenieKart.pole3">
                </td>
            </tr>
            <tr>
                <td class="lp">4.</td>
                <td>Liczba wyborców, którym wydano karty do głosowania</td>
                <td>
                    <input type="text" ng-model="vm.formData.rozliczenieKart.pole4" positive-int president-hard-error-p1 />
                </td>
            </tr>
            <tr class="uwaga">
                <td colspan="3" class="uwaga"><b>Uwaga!</b> Suma liczb z pkt. 3 i 4 powinna być równa liczbie z pkt. 2. Jeśli tak nie jest, przypuszczalną przyczynę należy omówić w pkt. 9.</td>
                <tr>
                    <td class="lp">5.</td>
                    <td>Liczba wyborców głosujących przez pełnomocnika <i>(liczba kart do głosowania wydanych na podstawie otrzymanych przez komisję aktów pełnomocnictwa)</i>
                    </td>
                    <td>
                        <input type="text" ng-value="vm.formData.rozliczenieKart.pole5">
                    </td>
                </tr>
                <tr class="uwaga">
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="lp">6.</td>
                    <td>Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania</td>
                    <td>
                        <input type="text" ng-model="vm.formData.rozliczenieKart.pole6">
                    </td>
                </tr>
                <tr class="uwaga">
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="lp">7.</td>
                    <td>Liczba wyborców, którym wysłano pakiety wyborcze</td>
                    <td>
                        <input type="text" ng-model="vm.formData.rozliczenieKart.pole7">
                    </td>
                </tr>
                <tr>
                    <td class="lp">8.</td>
                    <td>Liczba otrzymanych kopert zwrotnych</td>
                    <td>
                        <input type="text" ng-model="vm.formData.rozliczenieKart.pole8">
                    </td>
                </tr>
                <tr>
                    <td class="lp">8a.</td>
                    <td>Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu</td>
                    <td>
                        <input type="text" ng-model="vm.formData.rozliczenieKart.pole8a">
                    </td>
                </tr>
                <tr>
                    <td class="lp">8b.</td>
                    <td>Liczba kopert zwrotnych, w których oświadczenie nie było podpisane przez wyborcę</td>
                    <td>
                        <input type="text" ng-model="vm.formData.rozliczenieKart.pole8b">
                    </td>
                </tr>
                <tr>
                    <td class="lp">8c.</td>
                    <td>Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania</td>
                    <td>
                        <input type="text" ng-model="vm.formData.rozliczenieKart.pole8c">
                    </td>
                </tr>
                <tr>
                    <td class="lp">8d.</td>
                    <td>Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania</td>
                    <td>
                        <input type="text" ng-model="vm.formData.rozliczenieKart.pole8d">
                    </td>
                </tr>
                <tr>
                    <td class="lp">8e.</td>
                    <td>Liczba kopert na kartę do głosowania wrzuconych do urny</td>
                    <td>
                        <input type="text" ng-model="vm.formData.rozliczenieKart.pole8e">
                    </td>
                </tr>
                <tr class="uwaga">
                    <td colspan="3"><b>Uwaga!</b> Liczba z pkt. 8 nie może być większa od liczby z pkt. 7. Suma liczba z pkt. 8a–8e nie może być większa od liczby z pkt. 8.
                </tr>
        </table>

        <h3>II. Ustalenie wyników głosowania</h3>
        <p>Komisja stwierdziła, że pieczęcie na urnie pozostały nienaruszone. Po wyjęciu kart z urny Komisja ustaliła na ich podstawie następujące wyniki głosowania:</p>

        <table class="with_borders">
            <tr>
                <td class="lp">9.</td>
                <td>Liczba kart wyjętych z urny</td>
                <td>
                    <input type="text" ng-model="vm.formData.wynikiGlosowania.pole9" positive-int president-hard-error-p2>
                </td>
            </tr>
            <tr>
                <td class="lp">9a.</td>
                <td>w tym liczba kart wyjętych z kopert na kartę do głosowania</td>
                <td>
                    <input type="text" ng-model="vm.formData.wynikiGlosowania.pole9a" positive-int>
                </td>
            </tr>
            <tr class="uwaga">
                <td colspan="3"><b>Uwaga!</b> Liczba z pkt. 9 pomniejszona o liczbę z pkt. 9a powinna być równa liczbie z pkt. 4. Dodatkowo liczba z pkt. 9a nie powinna być większa od liczby z pkt. 8e; jeśli tak nie jest &mdash; przypuszczalną przyczynę należy opisać w punkcie 16.</td>
            </tr>
            <tr>
                <td class="lp">10.</td>
                <td>Liczba kart nieważnych <i>(innych niż urzędowo ustalone lub nieopatrzonych pieczęcią obwodowej komisji wyborczej)</i>
                </td>
                <td>
                    <input type="text" ng-model="vm.formData.wynikiGlosowania.pole10" positive-int president-hard-error-p2>
                </td>
            </tr>
            <tr>
                <td class="lp">11.</td>
                <td>Liczba kart ważnych</td>
                <td>
                    <input type="text" ng-model="vm.formData.wynikiGlosowania.pole11" positive-int president-hard-error-p2>
                </td>
            </tr>
            <tr class="uwaga">
                <td colspan="3"><b>Uwaga!</b> Suma liczb z pkt. 10 i 11 <b>musi</b> być równa liczbie z pkt. 9. Jeśli w pkt. 10 liczba jest większa niż 0, przyczynę należy opisać w pkt. 17.</td>
            </tr>
            <tr>
                <td class="lp">12.</td>
                <td>Liczba głosów nieważnych <i>(z kart ważnych)</i>
                </td>
                <td>
                    <input type="text" ng-model="vm.formData.wynikiGlosowania.pole12">
                </td>
            </tr>
            <tr>
                <td class="lp">13.</td>
                <td>Liczba głosów ważnych oddanych łącznie na wszystkich kandydatów <i>(z kart ważnych)</i>
                </td>
                <td>
                    <input type="text" ng-model="vm.formData.wynikiGlosowania.pole13">
                </td>
            </tr>
            <tr class="uwaga">
                <td colspan="3"><b>Uwaga!</b> Suma liczb z pkt. 12 i 13 <b>musi</b> być równa liczbie z pkt. 11.</td>
            </tr>
        </table>

        <h4>14. Na poszczególnych kandydatów na Prezydenta Rzeczypospolitej Polskiej oddano następujące liczby głosów ważnych:</h4>
        <table class="with_borders">
            <tr ng-repeat="c in vm.candidates">
                <td class="lp">{{c.positionOnList}}.</td>
                <td>
                    <input type="text" style="width: 300px" ng-model="vm.formData.wynikiGlosowania.pole14[c.positionOnList - 1].imionaINazwisko" ng-value="c.firstName + ' ' + c.lastName" readonly>
                </td>
                <td>
                    <input type="text" ng-model="vm.formData.wynikiGlosowania.pole14[c.positionOnList - 1].sumaGlosowWaznych">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="text-align: right"><b>Razem:</b>
                </td>
                <td>
                    <input type="text" ng-model="vm.formData.wynikiGlosowania.sumaGlosowWaznych">
                </td>
            </tr>
        </table>

        <p class="uwaga"><b>Uwaga!</b> Suma głosów oddanych na wszystkich kandydatów (rubryka ,,Razem'') <b>musi</b> być równa liczbie z pkt. 13, czyli liczbie głosów ważnych oddanych łącznie na wszystkich kandydatów.</p>

        <h3>III. Uwagi i adnotacje</h3>

        <table>
            <tr>
                <td>15.</td>
                <td>Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy sumą liczb z pkt. 3 i 4, a liczbą z pkt. 2. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <textarea ng-model="vm.formData.uwagiIAdnotacje.pole15" rows="5" cols="90"></textarea>
            </tr>

            <tr>
                <td>16.</td>
                <td>Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy liczbą z pkt. 9 pomniejszoną o liczbę z pkt. 9a, a liczbą z pkt. 4, a także o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy liczbą z pkt. 9a a liczbą z pkt. 8e. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <textarea ng-model="vm.formData.uwagiIAdnotacje.pole16" rows="5" cols="90"></textarea>
            </tr>

            <tr>
                <td>17.</td>
                <td>Uwagi o przypuszczalnej przyczynie wystąpienia kart nieważnych (pkt. 10); jeżeli liczba w pkt. 10 wynosi 0, wpisać &#8222;brak uwag&#8221;.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <textarea ng-model="vm.formData.uwagiIAdnotacje.pole17" rows="5" cols="90"></textarea>
            </tr>

            <tr>
                <td>18.</td>
                <td>W trakcie głosowana wydano następujące zarządzenia. Jeżeli nie wydano, wpisać &#8222;brak zarządzeń&#8221;.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <textarea ng-model="vm.formData.uwagiIAdnotacje.pole18" rows="5" cols="90"></textarea>
            </tr>
            <tr>
                <td>19.</td>
                <td>Adnotacje o wniesieniu uwag przez mężów zaufania z wymienieniem konkretnych zarzutów. Jeżeli nie ma, wpisać &#8222;brak zarzutów&#8221; lub &#8222;brak mężów zaufania w obwodzie&#8221;.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <textarea ng-model="vm.formData.uwagiIAdnotacje.pole19" rows="5" cols="90"></textarea>
            </tr>
            <tr>
                <td>20.</td>
                <td>Adnotacje o wniesieniu uwag przez członków Komisji z wymienieniem konkretnych zarzutów. Jeżeli nie ma, wpisać &#8222;brak zarzutów&#8221;.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <textarea ng-model="vm.formData.uwagiIAdnotacje.pole20" rows="5" cols="90"></textarea>
            </tr>
            <tr>
                <td>21.</td>
                <td>Inne uwagi. Jeżeli nie ma, wpisać &#8222;brak uwag&#8221;.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <textarea ng-model="vm.formData.uwagiIAdnotacje.pole21" rows="5" cols="90"></textarea>
            </tr>
        </table>

        <p>Przy sporządzaniu protokołu obecni byli członkowie Komisji:</p>

        <table class="with_borders">
            <tr>
                <th>LP</th>
                <th>Imię 1</th>
                <th>Imię 2</th>
                <th>Nazwisko</th>
                <th>Funkcja w komisji</th>
                <th>Obecność</th>
                <th>Kasuj</th>
            </tr>
            <tr ng-repeat="member in vm.formData.czlonkowieKomisji">
                <td>{{$index + 1}}</td>
                <td style="width:150px;">
                    <input type="text" placeholder="Imię 1" ng-model="member.imie1" />
                </td>
                <td>
                    <input type="text" placeholder="Imię 2" ng-model="member.imie2" />
                </td>
                <td>
                    <input type="text" placeholder="Nazwisko" ng-model="member.nazwisko" />
                </td>
                <td>
                    <select ng-options="option as option for option in vm.commissionMemberRoles" ng-model="member.funkcja">

                    </select>
                </td>
                <td>
                    <label for>
                        <input value="true" type="radio" name="member_sign_{{$index}}_true" ng-model="member.sign" /> Tak</label>
                    <label for>
                        <input value="false" type="radio" name="member_sign_{{$index}}_false" ng-model="member.sign" /> Nie</label>
                </td>
                <td>
                    <button type="button" ng-click="vm.removeCommissionMember($index)">Kasuj</button>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right">
                    <button type="button" ng-click="vm.addEmptyCommissionMember()">Dodaj kolejnego członka</button>
                </td>
            </tr>
        </table>
        <div ng-show="vm.hardErrorsExist() === true">
        	<h3>Błędy Twarde:</h3>
        	<ul style="color:red">
            	<li ng-repeat="(key, error) in vm.getHardErrorMessages()">
                    <strong>{{error.key}}</strong> {{error.message}}
                </li>
            </ul>
        </div>
    </form>
</div>
